# System Testing

Initial testing for program functionality

## Results

Web Application .war file exists: Pass
Web App File Structure: Pass
Home Page: Pass
Repo Exists: Pass
Branch Exists: Pass